<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DURGASOFT NEWS PORTAL</title>

    <link rel="stylesheet" href="{% static "css/jobs.css" %}">
  </head>
  <body>
     <div class="container" align='center'>
      <div class="jumbotron">
      <h1 class="display-4">WELCOME TO DURGA NEWS PORTAL</h1>
      <p class="lead">Continuous News Updates for every minute...</p>
      <hr class="my-4">
      <a class="btn btn-success btn-lg" href="./movies"  role="button">Movie News</a> &nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-success btn-lg" href="./sports"  role="button">Sports News</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="btn btn-success btn-lg" href="./politics" target="_blank" role="button">Politics News</a>
    </div>
     </div>
  </body>
</html>
